
<!DOCTYPE HTML
    
<html>
<head>
<title>Free Theater Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
@*<link rel="stylesheet" href="Content/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="Content/flexslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="Content/bootstrap.css" type="text/css" media="all" />*@
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="Scripts/modernizr.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
<script src='Scripts/jquery.color-RGBa-patch.js'></script>
<script src='Scripts/example.js'></script>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/tsc_tabs.css" rel="stylesheet" />
     <!-- DC Tabs CSS -->
<link type="text/css" rel="stylesheet" href="http://www.dreamtemplate.com/dreamcodes/tabs/css/tsc_tabs.css" />
 <!-- jQuery Library (skip this step if already called on page ) -->
<script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/jquery.min.js"></script> <!-- (do not call twice) -->
 <!-- DC Tabs JS -->
<!--<script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/tabs/js/tsc_tabs.js"></script>-->
<link rel="stylesheet" href="Content/tsc_tabs.css" type="text/css" media="all" />
    
</head>
<body>
  
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
    
     <div class="col-lg-12">
        <div class="wrap">
            <div class="copy">
                <p style="margin-bottom:15px;">All rights Reserved | Design by Hassan Munir</p>
            </div>
        </div>
    </div>
</body>
</html>
